.homepage {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(122.19deg, #da2079 1.89%, #2a00d5 113.56%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

@media (min-width: 651px) {
  .todo2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .add-edit-input {
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    font-size: 30px;
    padding: 5px 2px;
    flex: 1;
  }

    .add-edit-input+.add-edit-input {
      margin-left: 10px;
    }

  .todo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .todo > h1 {
    width: 500px;
    background-color: rgb(211, 211, 211);
    padding: 5px 10px;
  }
    .edit-button,
    .delete-button {
      cursor: pointer;
      margin-left: 10px;
    }
}

@media (min-width: 201px) and (max-width: 700px) {
  .todo2 {
    align-items: center;
    margin-bottom: 10px;
  }

  .add-edit-input {
    width: 300px;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    font-size: 30px;
    padding: 5px 2px;
    flex: 1;
  }

  .todo {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .todo>h1 {
    width: 250px;
    background-color: rgb(211, 211, 211);
    padding: 1px 1px;
  }

    .edit-button{
      content: "\a";
      transform: scale(1);
      cursor: pointer;
      margin-left: 2px;
    }
    .edit-button {
      transform: scale(1);
      cursor: pointer;
      margin-left: 2px;
    }
}

.add-button {
  margin: 10px;
  transform: scale(2);
  cursor: pointer;
}

.logout-icon {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  background: red;
  color: white;
}
